<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.coenraets.employeedirectory"
        versionCode = "10"
        version     = "0.0.1">
 
    <name>Tiree Energy Pulse</name>
 
    <description>
        Catalyst OnSupply
    </description>
 
    <author href="http://www.catalystproject.org.uk" email="catalyst@lancaster.ac.uk">
        Pete Newman and Will Simm
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <access origin="*" /> 
    <preference name="orientation" value="portrait" />
</widget>
